html{
	overflow: hidden;
}

body {
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
}

/*** TITLE ***/

h1 {
	text-transform: uppercase;
	font-size: 72px;
	margin: 50px 0 50px 0;
	letter-spacing: 2px;
}

.title span {
	min-width: 10px;
	min-height: 10px;
	position: relative;
}

/*** BOX ***/

.box-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box{
	display: inline-block;
	padding: 10px 10px 10px 10px;
	font-size: 20px;
}

.box-title{
	padding: 10px;
}

.box-content{
	display: inline-block;
	padding: 10px;
}

.panel{
	display: inline-block;
	padding: 10px;
	border: 1px solid #FFF;
	height: 25px;
}

.panel-left{
	margin-right: -3px;
}

.panel-right{
	margin-left: -3px;
}

/*** SEARCH BAR ***/

.searchbar{
	transition: .2s ease;
}

.searchbar > *{
	display: inline-block;
}

.searchbar > div{
	padding:10px;
}

.hover{
	transition: .2s ease;
}

.hover-white:hover{
	color: #000;
	background: #FFF;
}

input{
	color: #FFF;
	background-color: #000;
	width: 440px;
	border: none;
	font-size: 20px;
	font-family: 'Fjalla One', sans-serif;
}

.btn{
	cursor: pointer;
}

.suggestions{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 10px;
	max-width: 100%;
	opacity: 0;
	list-style-type: none;
	text-align: left;
	font-size: 18px;
	background: #222;
	transition: .2s ease;
	box-shadow: #AAA 4px 4px;
}

.suggestions li{
	margin: 8px;
	padding: 0;
	cursor: pointer;
}

/*** PLAYLIST ***/

iframe{
	position: absolute;
	opacity: 0;
	top: 100vh;
	left: 100vw;
}

hr{
	border-color: #FFF;
}

#player-info{
	min-width: 440px;
}

.space{
	padding-left: 10px;
	padding-right: 10px;
}

#progression-bar{
	background: #000;
	border: 1px solid #FFF;
	display: inline-block;
	width: 70%;
	margin: 0 0 -3px 20px;
}

#progression{
	background: #FFF;
	padding: 10px 0 10px 0;
	width: 0%;
	max-width: 100%;
	transition: 2s linear;
}

/*** BACKGROUND ***/

#bg{
	opacity: .2;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
}
