<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Leethan 2 Theece</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  </head>

  <body>
    <section class="container">
      <h1>
        <div class="title">Leethan 2 Theece</div>
      </h1>
    </section>

    <div class="box-center">
      <div class="box searchbar">
        <input id="search-bar" class="" type="text" placeholder="Type your request..." autocomplete="off"/>
        <div id="search-btn" class="btn hover hover-white">search</div>
        <ul class="suggestions">
        </ul>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>

	  <script src="/title.js"></script>

    <script>

      function search(){
        var query = $("input").val().replace(" ", "-");
        window.location.href = "http://localhost:8080/search/" + query;
      }

      $(".searchbar").bind("keypress", function(e){
        if (e.keyCode == 13){
          search();
        }
      });

      $("#search-btn").click(search);

    </script>

    <script>

      var possibilities = [GENRES];
      $(".suggestions").html("");
      $(".suggestions").css("opacity", "0");
      $(".suggestions").css("width", $(".searchbar").css("width"));
      $(".suggestions").css("top", $(".searchbar").css("bottom"));

      var input = document.getElementById("search-bar");

      input.onkeyup = function(){
        var txt = this.value;

        if(!txt){
          $(".suggestions").css("opacity", "0");
    	    return;
        }

        var suggestions = 0;
        var maxSuggestions = 10;
        var frag = document.createDocumentFragment();

        for(var i = 0; i < possibilities.length; i++){
          if(suggestions < maxSuggestions && new RegExp("^"+txt,"i").test(possibilities[i])){
    				var word = document.createElement("li");
    				frag.append(word);
    				word.innerHTML = possibilities[i].replace(new RegExp("^("+txt+")","i"),"<strong>$1</strong>");
    				word.w = possibilities[i];
    				word.onmousedown = function(){
    					input.focus();
    					input.value = this.w;
    					$(".suggestions").css("opacity", "0");
    					return false;
    				};
    				suggestions++;
    			}
        }

        if(suggestions){
    			$(".suggestions").html("");
    			$(".suggestions").append(frag);
          $(".suggestions").css("opacity", "1");
    		}
    		else {
    			$(".suggestions").css("opacity", "0");
    		}

      }

      input.onblur = function(){
    		$(".suggestions").css("opacity", "0");
    	};

    </script>

  </body>

</html>
