<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Leethan 2 Theece</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  </head>

  <body>
  
  	<div id="bg"></div>

    <section class="container">
      <h1>
        <div class="title">Leethan 2 Theece</div>
      </h1>
    </section>

    <div id="yt-player"></div>

    <iframe id="sc-player" width="100%" height="100" scrolling="no" frameborder="no"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/293&amp">
    </iframe>

    <div class="box-center">
      <div class="box" id="player-info">
        <div class="box-title">
          <a id="song-link" style="color:#FFF;text-decoration:none"><span id="song-artist"></span> - <i><span id="song-title"></span></i></a> <span class="space"></span> [<span id="song-index"></span>/<span id="song-max"></span>] <span class="space"></span><span id="rand-btn" class="btn hover hover-white" style="padding: 8px">shuffle</span> 
        </div>
        <hr>
        <div class="box-title">
          <span id="song-prev" class="btn fa fa-step-backward"></span> <span class="space"></span> <span id="song-play" class="btn fa fa-play"></span> <span class="space"></span> <span id="song-next" class="btn fa fa-step-forward"></span>
          <div id="progression-bar"><div id="progression"></div></div>
        </div>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>

    <script src="/soundcloud.js"></script>
    <script src="/title.js"></script>
    
    <script>
    	$("#rand-btn").click(function(){
    		if (window.location.href.endsWith("?rand"))
    			location.reload();
    		else
    			window.location.href = window.location.href + "?rand";
    	});
    
    	var data = [PLAYLIST_DATA];
    </script>

    <script async src="/player.js"></script>

  </body>

</html>
