<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Leethan 2 Theece</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/black.css" />
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  </head>

  <body>
    <section class="container">
      <h1>
        <span class="title">Leethan 2 Theece</span>
      </h1>
    </section>

    The library is beeing built... <br>
    <i>(it might take a few minutes)</i> <br><br>

    <img src="https://media.giphy.com/media/3ohs7HXGnF6vbmVVcY/giphy.gif" style="width: 450px" alt="loading..." /> <br><br>

    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js"></script>
    
    <script>
    
    	function httpGetAsync(){
    		var url = "http://localhost:8080/ask";
		    var xmlHttp = new XMLHttpRequest();
		    xmlHttp.onreadystatechange = function() { 
		        if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
		        	if (xmlHttp.responseText == "ACK")
		        		window.location.href = "http://localhost:8080/";
		        }
		    }
		    xmlHttp.open("GET", url, true);
		    xmlHttp.send(null);
		}
		
		setInterval(httpGetAsync, 1000);
    
    </script>
   	
   	<script src="/static/js/title.js"></script>
    
  </body>

</html>
